Package: com.plipala.ccsettings
Name: CCSettings
Depends: mobilesubstrate, preferenceloader
Version: 0.0.4
Architecture: iphoneos-arm
Description: More toggle for ControlCenter
Maintainer: plipala <plipala@foxmail.com>
Author: plipala <plipala@foxmail.com>
Section: Tweaks
