Package: com.plipala.ccsettings.support
Name: CCSettings Support for SSH and WallProxy
Version: 0.0.2
Depends: com.plipala.ccsettings (>= 0.0.4)
Architecture: iphoneos-arm
Description: Open-SSH, Wall-Proxy support for CCSettings
Maintainer: plipala <plipala@foxmail.com>
Author: plipala <plipala@foxmail.com>
Section: Tweaks
